// css img, button, heading, title, input, elements, components...
img {
  max-width: 100%;
  height: auto;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  &.--center {
    margin: 0 auto;
    display: block;
  }
}
a {
  text-decoration: none;
}

// colors (tuỳ chỉnh)
.--white-cl {
  color: $white-cl;
}
.--black-cl {
  color: $black-cl;
}

// css article (nội dung chi tiết bài viết)
article {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: PB; // font bold
    display: block;
  }
  h1 {
    font-size: var(--h1-fs);
    line-height: var(--h1-lh);
    margin: 0 0 0.67rem 0;
  }
  h2 {
    font-size: var(--h2-fs);
    line-height: var(--h2-lh);
    margin: 0 0 0.75rem 0;
  }
  h3 {
    font-size: var(--h3-fs);
    line-height: var(--h3-lh);
    margin: 0 0 0.83rem 0;
  }
  h4 {
    font-size: var(--h4-fs);
    line-height: var(--h4-lh);
    margin: 0 0 1.12rem 0;
  }
  h5 {
    font-size: var(--h5-fs);
    line-height: var(--h5-lh);
    margin: 0 0 1.5rem 0;
  }
  h6 {
    font-size: 0.67rem;
    margin: 0 0 1.67rem 0;
  }

  p {
    margin: 0 0 1.12rem 0;
  }
  strong {
    font-family: PB;
  }
  ol,
  ul {
    list-style: initial;
    padding-left: 18px;
  }
  img {
    display: inline-block;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    margin: 25px auto;
  }
  .video {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    margin: 25px auto;
    iframe,
    video {
      position: absolute;
      @include size(100%);
      top: 0;
      left: 0;
    }
  }
  @include xs {
    img {
      margin: 20px auto;
    }
  }
}

.hidden {
  display: none;
}

.textbox {
  text-align: center;
  position: relative;
  padding-bottom: 55px;
  margin-bottom: 30px;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 320px;
    height: 1px;
    background-color: $black-cl;
    @include transform(translateX(-50%));
  }
  &__welcome {
    @include text(1.4rem, PL, 2.2rem, $text-cl, uppercase);
    letter-spacing: 0.14rem;
    margin-bottom: 25px;
  }
  &__heading {
    display: inline-block;
    @include text(2rem, PB, 1, $gray-cl, uppercase);
    letter-spacing: 0.6rem;
    background-color: $yellow-cl;
    margin-bottom: 30px;
  }
  &__desc {
    max-width: 800px;
    margin: 0 auto;
  }
  @include xs {
    padding-bottom: initial;
    margin-bottom: initial;
    &:after {
      display: none;
    }
    &__desc {
      display: none;
    }
  }
}

.tag__list {
  display: flex;
  align-items: center;
  justify-content: center;
  .tag {
    cursor: pointer;
    @include text(var(--h2-fs), PSB, 1, $gray-light-cl, uppercase);
    padding: 20px;
    @include transition($t);
    &:hover {
      color: $text-cl;
    }
    &.active {
      color: $text-cl;
    }
  }
  @include xs {
    display: none;
  }
}

.project {
  &__list {
    --column: 3;
    --spacing: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: calc(-1 * var(--spacing));
  }
  &__item {
    width: calc(calc(100% / var(--column)) - var(--spacing));
    margin-left: var(--spacing);
    &:hover {
      .project__img {
        a {
          &:before {
            background-color: rgba(0, 0, 0, 0.2);
          }
          img {
            @include transform(translate(-50%, -50%) scale(1.1));
          }
        }
      }
      .project__content {
        .heading {
          color: $yellow-cl;
        }
      }
    }
  }
  &__img {
    a {
      display: block;
      width: 100%;
      height: 0;
      padding-bottom: 60.8%;
      position: relative;
      overflow: hidden;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        @include transition($t);
        z-index: 3;
      }
      img {
        min-width: 100%;
        min-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%) scale(1));
        @include transition($t);
      }
    }
  }
  &__content {
    text-align: center;
    padding: 30px 0 80px;
    .heading {
      display: block;
      @include text(var(--h2-fs), PB, var(--h2-lh), $text-cl, uppercase);
      position: relative;
      margin-bottom: 10px;
      @include transition($t);
      &:before {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        @include transform(translateX(-50%));
        width: 16px;
        height: 3px;
        background-color: $yellow-cl;
      }
    }
    .desc {
      line-height: 2rem;
      text-transform: capitalize;
    }
  }
  @include xs {
    &__list {
      --column: 1;
    }
    &__content {
      padding: 30px 0 50px;
      .desc {
        font-size: 1.4rem;
      }
    }
  }
}

.more {
  text-align: center;
  a {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:hover {
      img {
        @include transform(translateY(5px));
      }
    }
    span {
      @include text(var(--h2-fs), PB, var(--h2-lh), $text-cl, uppercase);
      margin-bottom: 10px;
    }
    img {
      width: 15px;
      @include transform(translateY(0));
      @include transition($t);
    }
  }
}

.title {
  @include text(1.4rem, PL, 2.2rem, $text-cl, uppercase);
  letter-spacing: 0.28rem;
}

.btn__back {
  display: inline-flex;
  align-items: center;
  &:hover {
    span {
      @include transform(translateX(45px));
    }
    img {
      @include transform(translateX(-90px) rotate(90deg));
    }
  }
  span {
    @include text(var(--h2-fs), PR, var(--h2-lh), $text-cl, none);
    margin-right: 30px;
    @include transform(translateX(0));
    @include transition($t);
  }
  img {
    width: 15px;
    @include transform(translateX(0) rotate(90deg));
    @include transition($t);
  }
  @include xs {
    span {
      margin-right: 10px;
    }
  }
}

.line {
  width: 100%;
  height: 1px;
  background-color: $black-cl;
  margin: 75px 0 50px;
  @include xs {
    display: none;
  }
}

.studio {
  &__list {
    --column: 2;
    --spacing: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--spacing));
  }
  &__item {
    width: calc(calc(100% / var(--column)) - var(--spacing));
    margin-left: var(--spacing);
    margin-bottom: 70px;
    &:hover {
      .studio__img {
        a {
          &:before {
            background-color: rgba(0, 0, 0, 0.2);
          }
          img {
            @include transform(translate(-50%, -50%) scale(1.1));
          }
        }
      }
      .studio__content {
        .info {
          background-color: $gray-cl;
          .dimension {
            color: #fff;
          }
          .btn__detail {
            span {
              color: #fff;
            }
            svg {
              polygon {
                fill: $yellow-cl;
              }
            }
          }
        }
      }
    }
  }
  &__img {
    a {
      display: block;
      width: 100%;
      height: 0;
      padding-bottom: 62.5%;
      position: relative;
      overflow: hidden;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        @include transition($t);
        z-index: 3;
      }
      img {
        min-width: 100%;
        min-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%) scale(1));
        @include transition($t);
      }
    }
  }
  &__content {
    display: flex;
    .info {
      flex: 1;
      padding: 30px 30px 0 80px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      background-color: transparent;
      @include transition($t);
      .btn__detail {
        text-align: center;
        span {
          display: block;
          @include text(var(--h2-fs), PSB, var(--h2-lh), $text-cl, uppercase);
          @include transition($t);
        }
        svg {
          polygon {
            fill: #484647;
            @include transition($t);
          }
        }
      }
    }
  }
  @include sm {
    &__content {
      .info {
        padding: 10px 10px 0 10px;
      }
    }
  }
  @include xs {
    &__list {
      --column: 1;
    }
    &__item {
      margin-bottom: 40px;
    }
    &__content {
      .num {
        height: 75px;
        width: 75px;
        h3 {
          font-size: 3.8rem;
        }
        h5 {
          font-size: 1.2rem;
          line-height: 1.2rem;
        }
      }
      .info {
        padding: 20px 0 0 25px;
        .dimension {
          h3 {
            font-size: 1.2rem;
            line-height: 1.9rem;
          }
          p {
            line-height: 1.8rem;
          }
        }
        .btn__detail {
          span {
            display: none;
          }
          svg {
            @include transform(rotate(-90deg));
          }
        }
      }
    }
  }
}

.num {
  height: 120px;
  width: 120px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $yellow-cl;
  flex-direction: column;
  h3 {
    @include text(6.2rem, DC, 1, $text-cl, none);
  }
  h5 {
    @include text(1.1rem, PR, 2rem, $text-cl, uppercase);
  }
}

.dimension {
  color: $text-cl;
  @include transition($t);

  h3 {
    @include text(var(--h2-fs), PR, var(--h2-lh), inherit, uppercase);
  }
  p {
    color: inherit;
  }
}

.full-screen {
  display: inline-flex;
  align-items: center;
  span {
    @include text(var(--h2-fs), PR, var(--h2-lh), $text-cl, capitalize);
    margin-right: 20px;
  }
  img {
    cursor: pointer;
  }
}

.control {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: 56%;
    top: 50%;
    width: 1px;
    height: 12px;
    background-color: $gray-cl;
    @include transform(translateY(-50%));
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    span {
      @include text(var(--h2-fs), PR, var(--h2-lh), $text-cl, capitalize);
    }
    &.--next {
      img {
        @include transform(rotate(-90deg));
      }
      span {
        margin-right: 20px;
      }
    }
    &.--prev {
      img {
        @include transform(rotate(90deg));
      }
      span {
        margin-left: 20px;
      }
    }
    img {
      width: 15px;
    }
  }
}

.btn__book {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  @include text(2.4rem, PEB, 3.048rem, $yellow-cl, uppercase);
  background-color: $gray-cl;
  @include size(100px);
  border-radius: 8px;
}
