// css footer
.footer {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 78%;
    background-color: $yellow-cl;
    z-index: -1;
  }
  .container {
    padding: 0 35px 150px;
  }
  &__top {
    display: flex;
    p {
      @include text(1.2rem, PR, 3.048rem, $text-cl, uppercase);
      letter-spacing: 0.12rem;
    }
    .footer__info {
      max-width: 230px;
      .email,
      .tel {
        margin-bottom: 30px;
      }
    }
    .footer__contact {
      margin-left: auto;
      width: 50%;
      .contact__form {
        margin-top: 45px;
        display: flex;
        justify-content: space-between;
        gap: 0 20px;
        & > * {
          width: 50%;
        }
        label {
          @include text(1.2rem, PR, 1, $text-cl, none);
          display: block;
        }
        input {
          width: 100%;
          border: none;
          outline: none;
          border-bottom: 1px solid $black-cl;
          margin: 10px 0 25px;
          background-color: transparent;
        }
        textarea {
          width: 100%;
          outline: none;
          border: none;
          border-bottom: 1px solid $black-cl;
          height: 50px;
          margin-top: 10px;
          background-color: transparent;
        }
        .right {
          .mess {
            position: relative;
            &:before {
              content: "";
              position: absolute;
              top: 38px;
              left: 0;
              width: 100%;
              height: 1px;
              background-color: $black-cl;
            }
          }
          .send {
            text-align: right;
            .btn__send {
              display: inline-flex;
              align-items: center;
              justify-content: center;
              @include text(1rem, PB, normal, #fff, uppercase);
              height: 20px;
              padding: 0 12px;
              background-color: $black-cl;
              margin-top: 25px;
            }
          }
        }
      }
    }
  }
  &__bottom {
    text-align: center;
    margin-top: 50px;
    .backtotop {
      cursor: pointer;
      display: inline-block;
      @include transform(translateY(0));
      @include transition($t);
      &:hover {
        @include transform(translateY(-10px));
      }
      img {
        @include transform(rotate(-90deg));
        width: 20px;
        margin-bottom: 5px;
      }
    }
    p {
      font-size: 1rem;
      letter-spacing: 0.1rem;
    }
  }
  @include xs {
    display: none;
  }
}

.footer__mobile {
  display: none;
  padding-top: 50px;
  margin-top: 30px;
  border-top: 1px solid $black-cl;
  .footer__info {
    text-align: center;
    margin-bottom: 30px;
    p {
      @include text(1.2rem, PR, 3.048rem, $text-cl, uppercase);
      letter-spacing: 0.12rem;
    }
  }
  .footer__bottom {
    padding: 50px 0 140px;
    background-color: $yellow-cl;
    margin-top: initial;
  }
  @include xs {
    display: block;
  }
}
