.studiopage {
  .studio {
    &__list {
      margin-top: 70px;
      margin-bottom: 20px;
    }
    .line {
      margin-top: initial;
    }
    @include xs {
      padding-top: var(--height-header);
      &__list {
        margin-top: 30px;
      }
    }
  }
}
